body {
  min-width: 300px;
  text-align: center;
  display: flex;
  flex-direction: column;
  background-color: #e7e7e7;
  padding: 10px;
}

.image {
  max-width: fit-content;
  margin-right: 20px;
}

#icon {
  width: 60px;
  box-shadow: rgb(33 33 33 / 20%) 0px 4px 16px;
  border-radius: 100%;
}

.titles {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  max-height: 60px;
  max-width: 250px;
  margin: auto;
}

#error, #word{
  font-size: 27px;
  max-width: fit-content;
  margin-left: 20px;
  color: #c25556;
  font-weight: 400;
}

.mid {
  color: #08361e;
  width: 100%;
  font-size: 12px;

}

.firstB p {
  background-color: #d8d8d8;
  color: #08361e;
  font-size: 25px;
  padding: 5px;
  padding-top: 0px;
}

.secondB p {
  background-color: #297a4d;
  color: #d8d8d8;
  padding: 5px;
  box-shadow: rgb(33 33 33 / 20%) 0px 4px 16px;
}

h2 {
  color: #ff2626;
}

h1 {
  font-size: 2rem;
}

div {
  font-size: 1.1rem;
  background-color: #fff47d;
}

#phonetic {
  color: brown;
  font-size: 1rem;
}

#example {
  font-size: 1rem;
  background-color: #9ddac6;
}

.navigate-container {
  display: flex;
  justify-content: space-between;
  text-align: center;
  background-color: #ffffff;
}

.navigator {
  text-decoration: none;
  display: inline-block;
  padding: 6px 14px;
}

.hidenavigator {
  display: none;
}

.navigator:hover {
  cursor: pointer;
  background-color: #ddd;
  color: black;
}

.previous,
.next {
  background-color: #f1f1f1;
  color: black;
}

.searchsvg {
  width: 17px;
  user-drag: none;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.searchanchor {
  text-decoration: none;
  outline: none;
}

.searchanchor:hover {
  text-decoration: none;
  outline: none;
  border: none;
}